<!DOCTYPE html>
<html>
<head>
	<title>React, Requirejs & Condcutor • TodoMVC</title>
	<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
</head>
<body>

<div id="appRegion"></div>

<script data-main="app/main" src="bower_components/requirejs/require.js"></script>

</body>
</html>